html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    cursor: default;
    background-image: url("img/wood.png");
    background-size: auto;
    font-family: Lucida Console;
}
.appbody {
    position: relative;
    top:0;
    left: 0;

    height: calc(100% - 50px);
    width: 100%;

    margin: 0;
    padding: 5px;
    box-sizing: border-box;

    background-color: #ccc;
}
h1 input{
    float: centre;
    width: 300px;
    height: 40px;
    background-color: palegoldenrod;
    font-family: Lucida Console;
}
h2 input{
    float: centre;
    width: 300px;
    height: 40px;
    background-color: palegoldenrod;
    font-family: Lucida Console;
}
h3 input{
    float: centre;
    width: 300px;
    height: 40px;
    background-color: palegoldenrod;
    font-family: Lucida Console;
}
h4 button{
    float: centre;
    width: 100px;
    height: 30px;
    background-color: green;
    font-family: Lucida Console;
}
.container{

    margin-left:600px; 
    margin-top: 200px;

}
}.cont h1{margin-left: 600px;
    width: 500px;
    }
    .form-control1{
        margin-top: 70px;
        padding-top: 100px;
    
    }
    h1 button{
        float: centre;
        width: 100px;
        height: 30px;
        background-color: green;
    }
    