#settingsbutton{
    border: 20px blue;
    font-family: Cambria;
}

fontdiv{
    float: left;
}

legend{
    float: left;
}

fieldset{
    margin:0 auto;
    background-color: cornflowerblue;
    text-align: left;

}

wallpaperdiv{
    size: 100%;
    border: none;
}

