iframe{
    margin: 10px;
    border-radius: 25px;
}

div{
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
    border:10px solid #000;
    
}

body{
    background-image:url("img/wood.png");
    font-family: Lucida Console;
    font-size: 14px

}

#sendbutton {
    width: 200px;
    height: 50px;
}

#ad1 {
    width: 200px;
    height: 50px;
    margin-right: 100px;
}

#textboxmove{
    width: 170px;
    text-align: justify;
    text-align: center;
}

h1{
    border:20px solid #000;
    margin: 20px;
    padding: 30px;
    border-radius: 25px;
    font-family: Verdana;
}

#settingsdiv{
    margin: auto;
    width: 30%;
}